[user]
	name = Filip Wachowiak
	email = wachowiakf@gmail.com
[pull]
	rebase = true
[init]
        defaultbranch = master
[core]
    pager = delta
	editor = vim
[interactive]
    diffFilter = delta --color-only
[diff]
    colorMoved = default
[delta]
    navigate = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	autoSetupRemote = true
[rerere]
	enabled = true
[maintenance]
	repo = /Users/filip/projects/chilipiper/frontend
